{{ with partial "functions/webpack" (dict "context" . "src" "fonts/inter-latin-variable-full-normal.woff2") }}
  <link rel="preload" href="{{ .src }}" as="font" type="font/woff2" crossorigin>
{{ end }}

{{ with partial "functions/webpack" (dict "context" . "src" "fonts/roboto-mono-latin-variable-wghtOnly-normal.woff2") }}
  <link rel="preload" href="{{ .src }}" as="font" type="font/woff2" crossorigin>
{{ end }}

{{ with partial "functions/webpack" (dict "context" . "src" "main.js") }}
  <link rel="preload" href="{{ .src }}" as="script">
{{ end }}
