@use "../abstracts/themes";

// Main content
div#content {
  font-size: 0.925em;
  letter-spacing: -0.004em;
  line-height: 1.7;

  b,
  strong {
    letter-spacing: 0.008em; // not sure why the discrepancy between weights
  }

  blockquote {
    margin-left: 0;
    padding-left: 1.5em;
    border-left: 3px solid;

    @include themes.themed(
      (
        color: "medium-dark",
        border-color: "links",
      )
    );
  }

  h2,
  h3,
  h4 {
    margin-top: 1.25em;
    margin-bottom: 0.5em;
    letter-spacing: 0.001em;
    line-height: 1.5;

    &:hover > .anchorjs-link {
      opacity: 1; // '#' link appears on hover over entire sub-heading line
    }
  }

  // special bottom border for H2s
  h2 {
    padding-bottom: 0.25em;
    border-bottom: 1px solid;

    @include themes.themed(
      (
        border-color: "kinda-light",
      )
    );
  }

  // AnchorJS styles
  .anchorjs-link {
    margin: 0 0.25em;
    padding: 0 0.25em;
    background: none;
    font-weight: 300;
    line-height: 1;
    opacity: 0; // overridden by JS on mobile devices
    user-select: none;

    &::before {
      content: "\0023"; // pound sign
    }

    @include themes.themed(
      (
        color: "medium-light",
      )
    );

    &:hover {
      @include themes.themed(
        (
          color: "links",
        )
      );
    }
  }

  p.center {
    text-align: center;
  }

  figure {
    margin: 1em auto;
    text-align: center;
    line-height: 1;

    img {
      height: auto;
      max-width: 100%;
    }

    figcaption {
      font-size: 0.95em;
      line-height: 1.5;
      margin-top: 0.5em;

      @include themes.themed(
        (
          color: "medium",
        )
      );
    }
  }

  ul,
  ol {
    margin-left: 1.5em;
    padding-left: 0;

    li {
      padding-left: 0.25em;
    }
  }

  hr {
    margin: 1.5em auto;
    height: 2px;
    border: 0;

    @include themes.themed(
      (
        background-color: "light",
      )
    );
  }
}

// Responsive
// stylelint-disable-next-line block-no-empty
@mixin responsive() {
}
