@use "../abstracts/settings";
@use "../abstracts/themes";

// Global Footer Styles
footer {
  width: 100%;
  letter-spacing: -0.005em;
  padding: 1.25em 1.5em;
  border-top: 1px solid;

  @include themes.themed($color: "medium-dark", $border-color: "kinda-light");

  a {
    @include themes.themed($color: "medium-dark");
  }

  div.footer-row {
    display: flex;
    width: 100%;
    max-width: settings.$max-width;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 0.85em;
    line-height: 2.3;
  }

  // underline View Source link
  a#footer-view-source {
    padding-bottom: 2px;
    border-bottom: 1px solid;

    @include themes.themed($color: "medium-dark", $border-color: "light");
  }
}

// Responsive
@mixin responsive() {
  footer {
    padding: 1em 1.25em 0 1.25em;

    // stack columns on left instead of flexboxing across
    div.footer-row {
      display: block;
      line-height: 2;
    }
  }
}
