<!doctype html>

{{- partial "functions/prepare-meta" . -}}
{{- partial "functions/prepare-js" . -}}
{{- partial "functions/prepare-css" . -}}

{{ printf "<!-- htmlmin:ignore --><!--\n     ,,,        ,,,\n   ;\"   ^;    ;\"   \",\n  ;     s$$$$$s      ;\n   ,  ss$$$$$$$ss  ,\"\n   ;$$$$$$$$$$$$$$$$\n   $$$$$$$$$$$$$$$$$$           Hello, human. :)\n  $$$$$\"\"\"$$$\"\"\"$$$$$$\n $$$$$  p\"$$$\"q  $$$$$     %s\n  $$$$  .$$$$$.  $$$$\n   $$$$$$$$$$$$$$$$$\n     \"$$$$\"*\"$$$$\"\n        \"$$.$$\"\n--><!-- htmlmin:ignore -->" (print .Site.Params.baseURL "/humans.txt") | safeHTML }}

<html lang="{{ .Site.LanguageCode | default "en" }}"{{ with .Site.Params.Theme.defaultTheme }} class="{{ . }}"{{ end }}>
  <head>
    {{ partial "head/_head" . }}
  </head>
  <body>
    {{ partialCached "page/header" . }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "page/footer" . }}
    {{ template "__body_js" . }}
  </body>
</html>

{{- partial "functions/debug" . -}}
