<header>
  <nav>
    <a href="{{ .Site.BaseURL }}" id="header-logo" rel="me author" aria-label="{{ .Site.Title }}">
      {{ with partial "functions/webpack" (dict "context" . "src" "images/tiny-selfie.jpg") }}
        <img id="header-selfie" src="{{ .src }}" width="54" height="54" alt="Photo of Jake Jarvis">
      {{ end }}

      <span id="header-name">{{ .Site.Title }}</span>
    </a>
    <ul id="header-menu">
      {{- range .Site.Menus.main }}
      <li>
        <a class="header-menu-item" {{ printf "href=%q" .URL | safeHTMLAttr }} aria-label="{{ .Name }}"{{ if strings.HasPrefix .URL "http" }} target="_blank" rel="me noopener"{{ end }}>
          <span class="header-menu-icon">{{ .Pre }}</span>
          <span class="header-menu-text">{{ .Name }}</span>
        </a>
      </li>
      {{- end }}
      <li class="theme-toggle"></li>
    </ul>
  </nav>
</header>
