// Video Styles
div.layout-etc {
  padding-top: 1.5em;
  padding-bottom: 1.5em;

  h1 {
    text-align: center;
  }
}

// Responsive
@mixin responsive() {
  div.layout-etc {
    h1 {
      font-size: 1.6em;
      padding: 0 0.6em;
    }
  }
}
