@use "../abstracts/themes";

// Video Styles
div.layout-projects {
  padding-top: 1.5em;
  padding-bottom: 0.75em;

  h1 {
    margin-bottom: 0.4em;
    text-align: center;
  }

  div#content > p {
    text-align: center;
  }

  div#github-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;

    div.github-card {
      flex-grow: 1;
      width: 416px; // magic number
      padding: 1em 1.2em;
      margin: 0.6em;
      border: 1px solid;
      border-radius: 0.5em;
      font-size: 0.9em;

      @include themes.themed(
        (
          color: "medium-dark",
          border-color: "kinda-light",
        )
      );

      a.repo-name {
        font-size: 1.2em;
        font-weight: 600;
      }

      p.repo-description {
        margin: 0.2em 0 0.8em 0;
      }

      div.repo-meta {
        display: flex;
        flex-wrap: wrap;

        div.repo-meta-item {
          margin-right: 1.5em;
          font-size: 0.925em;

          @include themes.themed(
            (
              color: "medium",
            )
          );

          .octicon,
          span.repo-language-color {
            margin-right: 0.5em;
          }

          span.repo-language-color {
            display: inline-block;
            width: 1.15em;
            height: 1.15em;
            border-radius: 50%;
            position: relative;
            top: 0.175em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

// Responsive
@mixin responsive() {
  div.layout-projects {
    h1 {
      font-size: 1.6em;
    }
  }
}
