@use "../abstracts/themes";

// Post Styles
div.layout-single {
  padding-top: 1em;
  padding-bottom: 1em;

  div#meta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3em;
    font-size: 0.825em;
    line-height: 2.3;
    letter-spacing: 0.04em;

    @include themes.themed(
      (
        color: "medium",
      )
    );

    a {
      color: inherit;

      // disable fancy underline without `.no-underline`
      background: none !important;
      padding-bottom: 0;
    }

    > div {
      display: inline-flex;
      margin-right: 1.6em;
      white-space: nowrap;

      span.meta-icon {
        margin-right: 0.4em;
        user-select: none;

        img.emoji {
          margin-right: 0.25em;
          vertical-align: -0.22em;
          cursor: inherit;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    div#meta-date,
    div#meta-edit {
      a {
        display: inline-flex;
      }
    }

    div#meta-tags {
      white-space: normal;
      display: inline-flex;
      flex-wrap: wrap;

      span.meta-tag {
        text-transform: lowercase;
        white-space: nowrap;
        margin-right: 0.75em;

        &::before {
          content: "#"; // cosmetically hashtagify tags
          padding-right: 0.125em;

          @include themes.themed(
            (
              color: "light",
            )
          );
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  h1.title {
    margin: 0.3em 0 0.5em -0.03em; // TODO: why is this indented slightly?
    font-size: 2.1em;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.006em;
  }
}

// Responsive
@mixin responsive() {
  div.layout-single {
    padding-top: 0.8em;
    padding-bottom: 0.4em;

    h1.title {
      margin-top: 0.4em;
      font-size: 1.8em;
    }
  }
}
